*,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100%;
}

.quiz-app{
  display: flex;
}
.quizPart{
  flex: 7;
  background-color: rgb(245, 144, 144);
  height: 100vh;
}
.prizePart{
  flex: 3;
  background-color: aquamarine;
  height: 100vh;
}

