.prizes{
  position: absolute;
  bottom: 4rem;
  display: flex;
  height: 85%;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 4rem;
}
.prize{
  display: flex;
  justify-content: start;
  padding: 1rem;
  border-radius: .5em;
}

.amountLevel, .amount{
  font-size: 2rem;
}

.amountLevel{
  margin-right: 7rem;
}

.active{
  background-color: #46d4d6;
}